# Force HTTPS Redirect - SSL Certificate Active
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
# Passenger Configuration (CloudLinux will auto-update this section)
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END